$black: #071013;
$red: #d82d3e;
$tuscany: #b7999c;
$medium-gray: #aaa;
$platinum: #dfe0e2;

$gray: #777;
$dark-gray: #555;


$font-size-large: 36px;
$line-height-large: $font-size-large*(4/3);
$font-size-mini: 12px;
